.anasayfa {
    text-align: center;
    color: saddlebrown;
    background-color: antiquewhite;
    font-family: "Sigmar", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.anasayfa-liste {
    display: inline-block;
    text-align: left;
}

.baslık {
    font-size: 20px;
}

#isim {
        color: chocolate;

      
}

.urunlerana {
    text-align: center;
    background-color: antiquewhite;
    color: saddlebrown;
    background-color: antiquewhite;
    font-family: "Sigmar", sans-serif;
        font-weight: 400;
        font-style: normal;
}
#urunlist{
    display: inline-block;
}

#hak{
    text-align: left;
    
}

.hakkimizda{
    text-align: center;
    background-color: antiquewhite;
    color: saddlebrown;
    background-color: antiquewhite;
    font-family: "Sigmar", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.hak{
    text-align: left;
}
